body {
  background-color: lightblue;
}

h1 {
  font-size: 72px;
  background: linear-gradient(to right, #00ff00, #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  color: navy;
}

pre {
  font-size: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
}

.middle-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#left { text-align: left; }

#right { text-align: right; }

#center { text-align: center; }

