{% load static %}

<head>
    
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand mr-4" href="{% url 'store' %}" style="margin-left: 40px;">Tech Store</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'store' %}">Products</a>
        </li>

      </ul>

      <div class="d-flex justify-content-end align-items-center w-100">

        <a href="#" class="btn btn-warning">Login</a>

        <a href="{% url 'cart' %}">
            <img id="cart-icon" src="{% static 'images/cart.png' %}"/>
        </a>
        <p id="cart-total" style="margin-right: 40px;">{{ cartItems }}</p>

      </div>
    </div>

  </nav>